* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", "Inter";
}

::-webkit-scrollbar {
  display: none;
}

/* html {
  font-size: 100%;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
} */
