* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", "Inter";
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
